# This workflow will install Python dependencies, run tests and lint with a variety of Python versions 
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        versions:
        - 59
        python-version: 
        - "3.10"

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install vapoursynth-portable==${{ matrix.versions }}
        pip install .
    - name: Running tests
      run: |
        python -m unittest discover -s ./tests

  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.4.0
    - uses: cachix/install-nix-action@v15
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - run: nix build .#packages.x86_64-linux.default -L
